<ul class="list-group col-xs-4">
  <% @messages.each do |message| %>
    <li class="list-group-item">
      <h4>
        <% if message.sender.email == @current_user.email %>
          <%= message.recipient.name %>
        <% else %>
          <p><%= message.sender.name %></p>
        <% end %>
      </h4>
      <% if message.read_at %>
        <p>Read at: <%= time_ago_in_words(message.read_at)%> ago</p>
      <% else %>
        <b>unread</b>
      <% end %>
      <p>Sent at: <%= message.created_at.strftime("%d %b  %Y at %I:%M%p")%></p>
      <% if !message.read? %>
        <%= link_to 'Read Now',message_path(message), class: 'btn btn-primary'  %>
      <% else %>
        <h3>The message has already been read.</h3>
      <% end %>
    </li>
  <% end %>
</ul>